stages:
  - deploy

deploy:
  stage: deploy
  script:
    - cd /rent
    - git pull origin main
    
    - echo "VITE_API_URL=${VITE_API_URL}" > client/.env
    
    - |
      cat > server/.env << EOF
      PORT=${PORT}
      HOST=${HOST}
      DB_HOST=${DB_HOST}
      DB_PORT=${DB_PORT}
      DB_NAME=${DB_NAME}
      DB_USER=${DB_USER}
      DB_PASSWORD=${DB_PASSWORD}
      JWT_ACCESS_KEY=${JWT_ACCESS_KEY}
      JWT_REFRESH_KEY=${JWT_REFRESH_KEY}
      ADMIN_EMAIL=${ADMIN_EMAIL}
      MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

      PROD=${PROD}
      GMAIL_USER=${GMAIL_USER}
      GMAIL_PASS=${GMAIL_PASS}
      EOF
    
    - docker compose down
    - docker compose up -d --build
  only:
    - main