services:
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    ports: 
      - "80:80"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    command: certonly --stanalone --email ${EMAIL} --agree-tos --no-eff-email -d ${DOMAIN}